{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'portfolio/experience.css' %}">

    <div class="container p-3">
        <div class="col">
            <div class="row">
                <h1>Experiences</h1>
            </div>
            <div class="row">
                <div class="exbox col m-3">
                    <h2>ACADEMIC HISTORY</h2>
                    <br>
                    <h3>YFU Exchange Program USA</h3>
                    <h4>Gateway Legacy Christian</h4>
                    <h4>Academy School</h4>  
                    <h5>GPA (4.14/4.00)</h5>  
                    <h6>| 2015 - 2016</h6>  
                    <br>
                    <h3>SCIENCE MATHEMATICS PROGRAM</h3>
                    <h4>Saint John Mary</h4>  
                    <h4>International School</h4>  
                    <h5>GPA (3.88/4.00)</h5>  
                    <h6>| 2016 - 2018</h6> 
                    <br>
                    <h3>SOFTWARE & KNOWLEDGE</h3>
                    <h3>ENGINEERING</h3>
                    <h4>Gateway Legacy Christian</h4>  
                    <h4>Academy School</h4>  
                    <h5>GPA (2.91/4.00)</h5>  
                    <h6>| 2018 - Present</h6> 
                </div>  
                <div class="col m-3">
                    <div class="exbox row">
                        <h2>EXPERIENCES</h2>
                        <h3>EXCEED CAMP 16th</h3>
                        <h4>At Kasetsart University</h4>  
                        <h5>Software Training Camp</h5>
                        <h6>| JUL 2019</h6>    
                        <br>
                        <br>
                        <h3>INTERNSHIP</h3>
                        <h4>At In360 Co., Ltd.</h4>  
                        <h5>Team Development (ITD)</h5> 
                        <h6>| JUL 2020</h6>     
                    </div> 
                    <br>
                    <div class="exbox row">
                        <h2>INDIVIDUAL PROJECTS</h2>
                        <br>
                        <h3>CANDYHOUSE</h3>
                        <h4>A 2D platform games create with Python and Arcade library</h4>  
                        <h5>Arcade Game</h5>  
                        <h6>| MAY 2019</h6> 
                    </div>  
                </div>
                <div class="col m-3">
                    <div class="exbox row">
                        <h2>GROUP PROJECTS</h2>
                        <br>
                        <h3>SLEEP_WALKING</h3> 
                        <h4>Collect, analyse and signals from sensor for 
                            sleep walking patients and display on website</h4>  
                        <h5>IoT Website</h5>
                        <h6>| JUL 2019</h6>   
                        <br>
                        <br>
                        <h3>THOR</h3>  
                        <h4>An online games using Django framework and MySQL Database. </h4>  
                        <h5>Game Application</h5>
                        <h6>| DEC 2019</h6> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% endblock %}